<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
  <head>
    <!-- Site Title-->
    <title>Review Page</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='assets/images/ineur_icon.ico') }}" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Fira+Sans:300,600,800,800i%7COpen+Sans:300,400,400i">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fonts.css') }}">
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
  </head>
  <body>
    <div class="preloader">
      <div class="cssload-container">
        <svg class="filter" version="1.1">
          <defs>
            <filter id="gooeyness">
              <fegaussianblur in="SourceGraphic" stddeviation="10" result="blur"></fegaussianblur>
              <fecolormatrix in="blur" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 20 -10" result="gooeyness"></fecolormatrix>
              <fecomposite in="SourceGraphic" in2="gooeyness" operator="atop"></fecomposite>
            </filter>
          </defs>
        </svg>
        <div class="dots">
          <div class="dot mainDot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <!-- Page-->
    <div class="page">
      <!-- Page header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-default" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-static" data-lg-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-stick-up-clone="false" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true" data-md-stick-up-offset="115px" data-lg-stick-up-offset="35px">
            <!-- RD Navbar Top Panel-->
            <div class="rd-navbar-top-panel rd-navbar-top-panel-dark">
              <div class="rd-navbar-top-panel__main">
                <div class="rd-navbar-top-panel__toggle rd-navbar-fixed__element-1 rd-navbar-static--hidden" data-rd-navbar-toggle=".rd-navbar-top-panel__main"><span></span></div>
                <div class="rd-navbar-top-panel__content">
                  <div class="rd-navbar-top-panel__left">
                    <ul class="rd-navbar-items-list">
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm icon-primary linear-icon-map-marker"></span></div>
                          <div class="unit__body">
                            <p><a href="#">Group: 4G --> Dress Sales Attributes</a></p>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="unit flex-row align-items-center unit-spacing-xs">
                          <div class="unit__left"><span class="icon icon-sm icon-primary linear-icon-telephone"></span></div>
                          <div class="unit__body">
                            <ul class="list-semicolon">
                              <li><a href="tel:#">(+91) 123-0045--067</a></li>
                              <li><a href="tel:#">(+49) 123-0045--06</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="rd-navbar-top-panel__right">
                    <ul class="list-inline-xxs">
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-facebook" href="#"></a></li>
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-twitter" href="#"></a></li>
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-google-plus" href="#"></a></li>
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-vimeo" href="#"></a></li>
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-youtube" href="#"></a></li>
                      <li><a class="icon icon-xxs icon-gray-darker fa fa-pinterest-p" href="#"></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="rd-navbar-inner rd-navbar-search-wrap">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel rd-navbar-search-lg_collapsable">
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand-name" href="/"><img src="{{ url_for('static', filename='assets/images/logo-344x67_44.png') }}" alt="" width="172" height="33"/></a></div>
              </div>
              <!-- RD Navbar Nav-->
              <div class="rd-navbar-nav-wrap rd-navbar-search_not-collapsable">
                <div class="rd-navbar-search_collapsable">
                  <ul class="rd-navbar-nav">
                    <li><a href="/">Home</a>
                    </li>
                    <li class="active"><a href="/about/">About</a>
                    </li>
                    <li><a href="/predict/">Prediction</a>
                    </li>
                    <li><a href="/contacts/">Contacts</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>
      <section class="section parallax-container context-dark" data-parallax-img="{{ url_for('static', filename='assets/images/parallax-1_2.jpg') }}">
        <div class="parallax-content parallax-header">
          <div class="parallax-header__inner context-dark text-center">
            <div class="parallax-header__content">
              <div class="container">
                <div class="row justify-content-sm-center">
                  <div class="col-md-10 col-xl-8">
                    <h2 class="heading-decorated">About Project</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!--features-->
      <!-- Our Features-->
      <section class="section-md bg-gray-lighter text-center decor-text" data-content="Services">
        <div class="container">
          <div class="row justify-content-lg-center">
            <div class="col-lg-10 col-xl-8">

                <!--h5>Unordered list</h5-->
                <ul class="list-marked">
                  <li>2 types of Datasets: Contains dress attributes and recommendations according to the proceeds of the sale.</li>
                  <li>Sales are monitored based on alternative days. This data set consists of 500 data and 13 variables. Now, classification is done based on the recommendation variable.</li>
                  <li>Attributes Dataset Features: Style, Price, Rating, Size, Season, NeckLine, SleeveLength, waiseline, Material, FabricType, Decoration, Pattern, Type, Recommendation are Attributes in dataset.</li>

                  <li>Sales Dataset: Sales are monitor on the basis of alternate days.</li>
                  <li>Problem Statement: To build a classification model based on the given features in both the datasets i.e. Dress Attributes and their respective sales data.</li>
                </ul>

                






            </div>
          </div>

      <section class="section parallax-container context-dark" data-parallax-img="{{ url_for('static', filename='assets/images/digital-art-minimalism-red-artwork-low-poly-butterfly-571515-wallhere.com.jpg') }}">
        <div class="parallax-content">
          <div class="container section-md">
            <div class="row justify-content-md-center row-50">
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-coffee-cup"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">100</div><span>%</span>
                  </div>
                  <p class="box-counter__title">Python</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-cube"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">70</div><span>%</span>
                  </div>
                  <p class="box-counter__title">HTML</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-chevrons-expand-horizontal"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">20</div><span>%</span>
                  </div>
                  <p class="box-counter__title">CSS</p>
                </article>
              </div>
              <div class="col-md-6 col-lg-3">
                <!-- Box counter-->
                <article class="box-counter">
                  <div class="box-counter__icon linear-icon-mustache-glasses"></div>
                  <div class="box-counter__wrap">
                    <div class="counter">10</div><span>%</span>
                  </div>
                  <p class="box-counter__title">JS(anime)</p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </section>


      <!-- Page Footer-->
      <section class="pre-footer-corporate bg-image-7 bg-overlay-darkest">
        <div class="container">
          <div class="row justify-content-sm-center justify-content-lg-start row-30 row-md-60">
            <div class="col-sm-10 col-md-6 col-lg-10 col-xl-3"><a class="brand" href="/"><img src="{{ url_for('static', filename='assets/images/logo-white-344x67_44.jpg') }}" alt="" width="172" height="33"/></a>
              <p>BBSS is a one of the team named 4G from Ineuron academy. It makes the process of learning Data Science much easier.
                As an Ineuron students, this project would be our first approach towards the emerging technologies of Artificial Intelligence.</p>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-3 col-xl-3">
              <h6>Navigation</h6>
              <ul class="list-xxs list-primary">
                <li><a href="/about/">About</a></li>
                <li><a href="/predict/">Prediction</a></li>
                <li><a href="contacts">Ineuron-Students</a></li>
                <li><a href="https://academy.ineuron.ai/">Ineuron Academy</a></li>
                <li><a href="#">Mentors</a></li>
              </ul>
            </div>
            <div class="col-sm-10 col-md-6 col-lg-4 col-xl-3">
              <h6>Contacts</h6>
              <ul class="list-xs">
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Group</dt>
                    <dd>4G --> Dress Sales Attribites</dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>Phones</dt>
                    <dd>
                      <ul class="list-semicolon">
                        <li><a href="tel:#">(+91) 123-0045--067</a></li>
                        <li><a href="tel:#">(+49) 123-0045--06</a></li>
                      </ul>
                    </dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>E-mail</dt>
                    <dd><a class="link-primary" href="mailto:#">abc@zzy.ai</a></dd>
                  </dl>
                </li>
                <li>
                  <dl class="list-terms-minimal">
                    <dt>We are open</dt>
                    <dd>Mon-Sun: 24x7</dd>
                  </dl>
                </li>
              </ul>
            </div>

          </div>
        </div>
      </section>

      <footer class="footer-corporate bg-gray-darkest">
        <div class="container">
          <div class="footer-corporate__inner">
            <p class="rights"><span>Ineuron</span><span>&nbsp;&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Design by <a href="https://www.bbss.ai">BBSS</a></p>
            <ul class="list-inline-xxs">
              <li><a class="icon icon-xxs icon-gray-darker fa fa-facebook" href="#"></a></li>
              <li><a class="icon icon-xxs icon-gray-darker fa fa-twitter" href="#"></a></li>
              <li><a class="icon icon-xxs icon-gray-darker fa fa-google-plus" href="#"></a></li>
              <li><a class="icon icon-xxs icon-gray-darker fa fa-vimeo" href="#"></a></li>
              <li><a class="icon icon-xxs icon-gray-darker fa fa-youtube" href="#"></a></li>
              <li><a class="icon icon-xxs icon-gray-darker fa fa-pinterest" href="#"></a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="{{ url_for('static', filename='assets/js/core.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
  </body>
</html>
